*{
    margin: 0px;
    padding: 0px;
}
body{
position: absolute;
width: 1440px;
height: 1028px;
left: calc(50% - 1440px/2 + 1440px);
top: 0px;
background-image: url("images/298cd4ffd68b87514b6cd7e390ac5279\ 1\ \(1\).png");
}
.group72{
position: absolute;
width: 266px;
height: 116.51px;
left: 29px;
top: 13px;

}
.log1{
position: absolute;
width: 521px;
height: 80px;
left: 100px;
top: 634px;
background: #FFCD2D;
backdrop-filter: blur(200px);
border-radius: 38px;
}

.pass1{
box-sizing: border-box;
position: absolute;
width: 521px;
height: 80px;
left: 100px;
top: 454px;
border: 1px solid #FCF291;
backdrop-filter: blur(200px);
border-radius: 38px;
}  
.logbox{

}

.housewiz{
position: absolute;
width: 247px;
height: 46px;
left: 48px;
top: 68.01px;

font-family: 'Pirata One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.185em;

color: #DCDCDC;


}
.logowiz{
position: absolute;
width: 55.67px;
height: 103.52px;
left: 29px;
top: 32.64px;

transform: rotate(-20.66deg);
}
.login1{
position: absolute;
width: 158px;
height: 75px;
left: 282px;
top: 212px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
}
.allrights{
position: absolute;
width: 133px;
height: 19px;
left: 1265.56px;
top: 987px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #DCDCDC;

}
.vector{
position: absolute;
left: 85.97%;
right: 12.7%;
top: 96.43%;
bottom: 1.7%;

background: #DCDCDC;

}
.logininfo{
position: absolute;
width: 521px;
height: 502px;
left: 100px;
top: 212px;

}
.email1{
box-sizing: border-box;
position: absolute;
width: 521px;
height: 80px;
left: 100px;
top: 344px;
border: 1px solid #FCF291;
backdrop-filter: blur(200px);
border-radius: 38px;
}